services:
  app:
    container_name: app
    restart: always
    depends_on:
      - postgres
        # condition: service_healthy
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    networks:
      - backend
      - frontend
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:80/health"]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3
    #   start_period: 40s
  
  migrations:
    container_name: migrations
    env_file:
      - .env
    depends_on:
      - postgres
    restart: on-failure
    build:
      context: .
      dockerfile: docker/migrations/Dockerfile
    networks:
      - backend

  postgres:
    image: postgres:alpine
    container_name: postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    networks:
      - backend
    volumes:
      - postgresdata:/var/lib/postgresql/data
    # healthcheck:
    #   test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
    #   interval: 5s
    #   timeout: 5s
    #   retries: 10

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports: 
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app
    networks:
      - frontend
    restart: unless-stopped

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge

volumes:
  postgresdata:
  mongodata: